
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fira+Code&family=Geist:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-primary: "Geist", monospace;
  --font-secundary: "Anton", sans-serif;
  --color-bg: #22212C;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-bg);
}